﻿body {
    background-image:url("Backgrounds_125.png");
    margin: 0px;
    font-family: Verdana, Georgia, serif;
    font-size: 14px;
}
#header {
    background-color: #0099ff;
    margin: 10px;
    height: 60px;
    border-radius: 5px;
    }
#text1 a{
    float: left;
    height: 55px;
    width: 276px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 40px; 
    font-weight: bolder; 
    font-style: normal; 
    font-variant: normal; 
    color: black; 
    margin-left: 24px;
    text-decoration:none;
    margin-top:4px;
}
#text2{
    float: right;
    margin-left:600px;
    height: 10px; 
    width: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 20px; 
    font-weight: lighter; 
    font-style: normal; 
    font-variant: normal; 
    color: black;
    text-decoration: none;
}
#search{
    margin: 15px;
    height: 89px;
    border-radius: 10px;

}
form {
                margin:50px auto;
}
.main {
    background-color: white;
    margin: 10px 320px 10px 320px;
    border-radius: 5px;
    padding : 20px;
    }
h2{
    font-size: 150%;
    color: darkblue;
}
.sideright {
    background-color: #e5e4d7;
    margin: 0px 10px 10px 10px;
    border-radius: 5px;
    padding : 20px;
    font-size: 105%;
    float: right;
    width:260px;
    }
.sideright ul li a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 20px; 
    font-weight: lighter; 
    font-style: italic; 
    font-variant: normal; 
    color:black;
}
.sideleft {
    background-color: #e5e4d7;
    margin: 0px 10px 10px 10px;
    border-radius: 5px;
    padding : 20px;
    font-size: 105%;
    float: left;
    width:260px;
    }
.sideleft ul li a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 20px; 
    font-weight: lighter; 
    font-style: italic; 
    font-variant: normal; 
    color:black;
}